{{- $email := promptStringOnce . "email" "Email address" "vovanphu1012@gmail.com" -}}
{{- $name := promptStringOnce . "name" "User name" "vovanphu" -}}

{{- /* OS and Environment Detection */ -}}
{{- $is_wsl := false -}}
{{- if (env "WSL_DISTRO_NAME") -}}
{{-   $is_wsl = true -}}
{{- end -}}

{{- /* Machine Role Selection and Auto-detection */ -}}
{{- $role := "cyclops" -}}

{{- /* Windows & WSL always default to interactive roles (High Specs/Usage) */ -}}
{{- if or (eq .chezmoi.os "windows") $is_wsl -}}
{{-   $role = "chimera" -}}
{{- end -}}

{{- if hasKey . "role" -}}
{{-   $role = .role -}}
{{- else -}}
{{-   if or (eq .chezmoi.os "windows") $is_wsl -}}
{{-     $role = promptStringOnce . "role" "Machine Role (centaur, chimera)" $role -}}
{{-   else -}}
{{-     $role = promptStringOnce . "role" "Machine Role (centaur, chimera, hydra, griffin, cyclops, kraken, cerberus, golem, minion, siren)" $role -}}
{{-   end -}}
{{- end -}}

{{- /* Hostname Selection based on Role Pool */ -}}
{{- $hostname_selection := "custom" -}}

{{- if hasKey . "hostname" -}}
{{-   $hostname_selection = .hostname -}}
{{- else -}}
{{-   $packages := include "packages.yaml" | fromYaml -}}
{{-   if hasKey $packages.name_pools $role -}}
{{-     $pool := index $packages.name_pools $role -}}
{{-     $choices := append $pool "custom" -}}
{{-     $msg := list "Choose a Hostname for" $role ": (" ($choices | join ", ") ")" | join "" -}}
{{-     $hostname_selection = promptString $msg "custom" -}}
{{-   end -}}

{{-   if eq $hostname_selection "custom" -}}
{{-     $hostname_selection = promptString "Enter Custom Hostname" -}}
{{-   end -}}
{{- end -}}
sourceDir: {{ .chezmoi.sourceDir | quote }}
{{- if eq .chezmoi.os "windows" }}
pager: ""
{{- end }}

bitwarden:
    command: "bw"

data:
    email: {{ $email | quote }}
    name: {{ $name | quote }}
    osid: {{ .chezmoi.os | quote }}
    is_wsl: {{ $is_wsl }}
    role: {{ $role | quote }}
    hostname: {{ $hostname_selection | quote }}
    
    # Aliases
    commonAliases:
        g: "git"
        st: "git status"
        chez: "chezmoi"
    
    # OS-Specific Overrides
    winAliases:
        l: "Get-ChildItem -Force"
    
    unixAliases:
        l: "ls -lah"
    
    editor: "nvim"
