{{- if or (eq .role "hydra") (eq .role "griffin") (eq .role "cyclops") (eq .role "kraken") (eq .role "cerberus") (eq .role "golem") (eq .role "minion") (eq .role "siren") -}}
{{-   if (env "BW_SESSION") -}}
{{-     $key := (bitwarden "item" "ssh-key-server-ed25519") -}}
{{-     if $key -}}
{{ $key.notes | replace "\r" "" | trim }}{{ printf "\n" }}
{{-     end -}}
{{-   end -}}
{{- end -}}
